/* CSS custom properties / CSS variables */

:root {
  --teal: #008080;
  --royalblue: #4169e1;
  --violet: #9400d3;
  --green: #008000;
  --magenta: #8b008b;
}

/* Use attribute selectors for the first part of the exercise */

li[class] {
  color: var(--red);
}

li[class$='og'] {color: var(--violet);}

li[id='cat'] {color: var(--teal);}

li[class='parrot'] {color: var(--green);}

li[class='donkey'] {color: var(--royalblue);}

li[class*=' '] {color: var(--royalblue);}


/* Use descendant, child, and sibling selectors for the second part */

/* ? Which color am I supposed to use? */
.list-food li {color: var(--magenta)}
.list-food > ol > li.first {color: var(--green);}
.second + li {color: var(--royalblue)}

section li {
  color: var(--green);
}
