.container{
  /* ? Width is 400? */
  width: 600px;
  margin: 40px auto;
}

.paragraph::first-letter{
  font-size: 3em
}

/* ? Not in screenshot, necessary? */
.paragraph:hover {
  background-color: lightskyblue;
}