nav{
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: var(--black);
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li{
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: var(--white);
}

nav ul li:hover{
  background-color: var(--gray1);
}

.main{
  margin-top: 100px;
  padding: 0 0.5em;
}

@media (min-width: 1024px) {
  body {
    background: var(--green);
    color: var(--white);
  }
}

@media (min-width: 768px) and (max-width: 1023px){
  body{
    background: var(--orange);
    color: var(--black);
  }
}

@media (min-width: 320px) and (max-width: 767px){
  body{
    background: var(--purple);
    color: var(--white);
  }
}
